mat-toolbar{
    background-color: aliceblue;
}

.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo{
    max-height: 6em;
}

.header .title-group{
    padding-left: 15px;
}

.header .title-group i{
    padding-right: 5px;
    color: black;
}

.header .title-group a{
    color: black;
}
