<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list role="navigation">
            <a mat-list-item>
               <i class="material-icons vertical-middle">home</i>
               Home
            </a>
            <a mat-list-item>
               <i class="material-icons vertical-middle">storefront</i>
               Store
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>